<div class="container col-3">
  <h1 class="m-5 d-flex justify-content-center">Editing Makeup</h1>

  <%= render 'form', makeup: @makeup %>

  <%= link_to 'Show', @makeup %> |
  <%= link_to 'Back', makeups_path %>
</div>
