<div class="container col-8">

  <h1 class="m-5 d-flex justify-content-center">New Makeup</h1>

  <%= render 'form', makeup: @makeup %>


  <div id="back_button" class="m-2 mt-4 d-flex justify-content-center"><span><%= link_to 'Back', index_path %></span></div>
</div>
